header {
  background-color: $azul;
  height: 8.2rem;
  box-sizing: border-box;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
}

.logo {
  a {
    display: flex;
    align-items: center;

    img {
      width: 5rem;
      height: 5rem;
    }

    span {
      color: $white;
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
}

.searching_city_postal {
  position: relative;
  width: 40rem;
  margin: 2rem;

  .searching {
    font-size: 1.6rem;
    width: 100%;
    padding: 1rem 2.5rem 1rem 1rem;
    border: 0;
    outline: 0;
    border-radius: 3rem;
    text-align: center;
    background-color: $AzulClaro;
    transition: 0.2s ease-in-out all;

    &:focus {
      outline: solid $white 0.2rem;
    }

    &::placeholder {
      color: $white;
    }
  }
}

.search-outline {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  color: $white;
}

.site-navigation-links {
  opacity: 0;
  transition: 0.2s ease-in-out all;
  transform: translateY(2rem);
  pointer-events: none;
  width: 100%;
  background-color: $white;
  box-sizing: border-box;
}

.group-navs {
  display: flex;
  justify-content: space-around;
  background-color: $white;
  padding: 2.5rem 1rem 1rem 1rem;

  nav {
    display: flex;
    flex-direction: column;

    span {
      font-size: 2rem;
      color: $black;
      font-family: $Fira-Sans;
      font-weight: $Fira-SemiBold;
      text-transform: uppercase;
    }

    .items-button {
      display: flex;
      flex-direction: column;

      .button-navigation {
        border: none;
        background-color: $white;
        font-size: 1.6rem;
        text-align: left;
        padding: 0;
        margin: 1rem 0;
        cursor: pointer;

        &:hover {
          color: darkblue;
        }
      }
    }
  }
}

.menu-activador {
  width: 30px;
  height: 20px;

  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &.menu-abierto .menu-activador-linea {
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
  .menu-activador-linea {
    height: 2px;
    background-color: #fff;
    opacity: 1;
    transform: translateY(0) rotate(0);
    transition: all 0.3s;
  }
}

// Clases para el toggle

.effectVisible_y {
  opacity: 1;
  transform: translateY(0rem);
  pointer-events: visible;
}

/* .box {
  width: 50rem;
  height: 5rem;
  background-color: yellow;
  display: flex;

  .box_1 {
    background-color: red;
    width: 5rem;
    height: 100%;
    flex: 2 0 0;
  }

  .box_2 {
    background-color: green;
    width: 5rem;
    height: 100%;
    flex: 3 0 0;
  }

  .box_3 {
    background-color: pink;
    width: 5rem;
    height: 100%;
  }
} */
